@import "../../../App.scss";

.schedule {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 2100px;
  background-color: $background-color;

  header {
    text-align: center;
    height: 200px;
    h3 {
      font-size: 20px;
      margin-top: 50px;
      font-weight: normal;
    }
  }

  h2 {
    font-size: 30px;
    margin-top: 10px;
  }
  &__gradient-line {
    background: linear-gradient(90deg, #fd0076 0%, #55022a 100%);
    height: 0.5rem;
    width: 460px;
    display: inline-block; /* make it behave like an inline element but with block properties */
    margin: 0;
    padding: 0;
  }
}
.timeline {
  .line {
    position: absolute;
    left: 35%;
    height: 1840px;
    width: 10px;
    background-color: white;
  }
  .events {
    position: absolute;
    top: calc(100vh + 300px);
    left: calc(35% - 165px);
    height: 1800px;
    display: flex;
    width: 800px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    .right {
      position: relative;
      width: 180px;
      bottom: 21px;
      left: 90px;
      width: 480px;
      z-index: 1;
    }
    .left {
      position: relative;
      bottom: 21px;
      right: 550px;
      z-index: 1;
      width: 480px;
    }
    .hour-on-right-event {
      margin-right: 920px;
    }
    .visibleEvent {
      opacity: 1;
      transform: translate(0, 0);
    }
    .event {
      z-index: 2;
      display: flex;
      justify-content: space-between;
      width: 80%;
      height: 25%;
      opacity: 1;
      transition: all 1s;
      .hour {
        margin-top: 15px;
        width: 40px;
      }
      .dot {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: white;
      }
      .event-informations {
        width: 500px;
        height: 290px;
        background: linear-gradient(109.02deg, #4b507c 0%, #2e346c 100%);
        border-radius: 16px;
        -webkit-box-shadow: 9px 9px 30px -11px rgba(253, 0, 118, 1);
        -moz-box-shadow: 9px 9px 30px -11px rgba(253, 0, 118, 1);
        box-shadow: 9px 9px 30px -11px rgba(253, 0, 118, 1);
        display: flex;
        justify-content: center;
        font-size: 25px;
        ul {
          height: 100%;
          width: 70%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          list-style: none;
          li {
            margin-bottom: 10px;
          }
          h3 {
            font-size: 30px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .timeline {
    .line {
      left: 20%;
    }
    .events {
      left: calc(20% - 165px);
    }
  }
}
@media only screen and (max-width: 800px) {
  .timeline {
    .events {
      left: calc(20% - 65px);
      justify-content: space-between;
      width: 500px;
      .event {
        width: 100%;
        .event-informations {
          width: 400px;
        }
      }
    }
  }
}
