@import "./../../../App.scss";
.workshops {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
  background-color: $background-color;
  flex-wrap: wrap;
  padding-bottom: 50px;
  header {
    margin-top: 40px;
    text-align: center;
    h3 {
      font-size: 20px;
    }
    h2 {
      font-size: 30px;
    }
    .schedule__gradient-line {
      width: 420px;
    }
  }
  .container {
    margin-top: 80px;
    display: flex;
    width: 1150px;
    justify-content: space-between;
    align-items: center;
    .workshop {
      width: 370px;
      height: 450px;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      background: linear-gradient(109.02deg, #4b507c 0%, #2e346c 100%);
      border-radius: 16px;
      margin-bottom: 20px;
      p {
        width: 82%;
        margin-top: 10px;
        font-size: 20px;
        position: absolute;
        bottom: 50px;
      }
      h3 {
        font-size: 30px;
        position: absolute;
        bottom: 170px;
      }
      img {
        position: absolute;
        top: 30px;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
  .workshops {
    .container {
      flex-direction: column;
    }
  }
}
