@import "../../../App.scss";
nav {
  display: flex;
  align-items: center;
  position: fixed;
  font-size: 34px;
  top: 0px;
  height: 100px;
  width: 100vw;
  left: 0px;
  z-index: 20;
  font-weight: bold;
  text-shadow: -1px 2px #000000;
  padding-left: $margin-left;
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 20px;
    li {
      margin-left: 26px;
      font-weight: normal;
      a {
        text-decoration: none;
      }
      button {
        background-color: transparent;
        border: none;
      }
    }
  }
}
.backgroundColorIsSet {
  background-color: $background-color;
}
